<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>

  <connectionStrings>
    <!--<add name="TaxiOrNotDb"
         providerName="System.Data.SqlClient"
         connectionString="Server=.;Database=TaxiOrNotDatabase;Trusted_Connection=true;"/>-->

    <add name="TaxiOrNotDb"
         providerName="System.Data.SqlClient"
         connectionString="Server=38614153-896e-419a-b754-a24500ff5802.sqlserver.sequelizer.com;Database=db38614153896e419ab754a24500ff5802;User ID=lndjovwwfrjunciq;Password=CFRFgNtTvqqKvGBZmB3evWc4j7pf4FnH2egb3PUVnu8sHrDNmCLdkosPDVwiynYX;"/>
  </connectionStrings>
</configuration>